/*
 * Estilos de tu proyecto
 */
* {
     font-family: 'Montserrat', sans-serif;
 }

body {
  position: relative;
}

header {
position:fixed;
color: white ;
}

.text-white {
  color: white;
}
nav {
  position: absolute;
  left: 200px;

}

nav p {
  display: inline-block;
  float: left;
}



/* Estilo General de las secciones*/
.container {
  box-sizing: border-box;
  position: relative;
  width: 100% ;
  display: inline-block;
  height: 500px;
}

/* Estilo Footer*/
.container-footer {
  box-sizing: border-box;
  width: 100% ;
  height: 400px;
  display: inline-block;
  float: left;
}

/* Estilo Footer*/
.container-footer-list-one , .container-footer-two , .container-footer-three{
  display: inline-block;
  float: left;
  width: 15%;
  margin-left:  2px solid red;
}

/* Estilo Listas*/
.container-footer-list-one-main, .container-footer-list-one-secundary ,
.container-footer-list-two-main, .container-footer-list-two-secundary,
.container-footer-list-three-main, .container-footer-list-three-secundary {
 list-style: none;
}

/* Estilo a las listas del footer*/
div .div-f{
  display: inline-block;
  float: left;
}

span { font-size: 250%;}

.container-footer-iconos {left: 500px; }

/* Estilo del texto contenido de la sección 5*/
.section-five , .section-four {
width: 100%;
display: inline-block;
float: left;
}


.content-3 {
width: 20%;
position: relative;
left: 40px;
}

.content-4 {
width: 20%;
position: relative;
left: 500px;
}

.content-5 {
width: 20%;
position: relative;
left: 40px;
}

.iframe-1 {
  width: 65%;
  position: absolute;
  left: 400px;
  height: 500px;
}

.iframe-2 {
  width: 65%;
  position: absolute;
  height: 500px;
}

.iframe-3 {
  width: 65%;
  position: absolute;
  left: 400px;
  height: 500px;
}

.section-one {
background:url(../assets/images/hero.gif);
background-repeat: no-repeat;
background-size: 100%;
background-attachment: scroll;
width: 100%;
height: 700px;
}

.image {
  width: 50px;
position: relative;
left : 700px;
top:  -420px;

}

.text-2-1 {

}

.logo-1 {
  width: 100px;
}


.img-1 {
  width: 500px;
  height: auto;
  display: inline-block;
  float: left;
}


.section-two {
color: white;
margin:0px;
padding: 0px;
border: 0px;
background: linear-gradient(#76278F, #2B1E66);
width: 100%;
height: 700px;

}
.container-footer {
background:  #333447;
}
